:root {
  --text-color: rgba(255,255,255,0.6);
  --background-color: #286ba0;
  --link-color: #fff;
  --link-color-visited: rgba(255,255,255,0.8);
}

body {
	background-image: radial-gradient(ellipse 100% 80% at bottom right, hsla(300, 100%, 62%, .2), hsla(300, 100%, 62%, 0)), radial-gradient(circle, #3992ca, #19497a);
  background-attachment: fixed;
}

h1 {
	color: rgba(255,255,255,0.8);
}

#iframe {
  width: 100%;
  height: 50vh;
  border: none;
  background-color: rgba(255,255,255,0.5);
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.tile {
  display: block;
  background-color: rgba(255,255,255,0.15);
  padding: 1em;
  overflow: hidden;
  min-width: 0;
}

.tile-title {
  display: block;
  font-weight: 600;
}
.tile-description {
  font-size: 0.8em;
}
