---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: base.njk
renderData:
  title: Posts tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
eleventyNavigationActiveKey: Blog
templateClass: tmpl-postslist
---
<h1>Posts tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
