---
layout: base.njk
templateClass: tmpl-post
eleventyNavigationActiveKey: Blog
---
<h1>{{ title }}</h1>
<p>
{{ date | readableDate }}
<span class="dot-separator">·</span>
{{ content | readingTime}}
</p>

{{ content | safe }}
