---
layout: base.njk
templateClass: tmpl-post
eleventyNavigationActiveKey: Blog
---
<h1>{{ title }}</h1>
<p>
{{ date | readableDate }}
<span class="dot-separator">·</span>
{{ content | readingTime}}
</p>

{{ content | safe }}

<link rel="stylesheet" href="/assets/lightgallery/css/lightgallery.min.css">
<script src="/assets/lightgallery/js/lightgallery.min.js"></script>
<script>
lightGallery(document.querySelector("main"), {
  selector: "img",
  startClass: "",
});
</script>
