---
layout: base.njk
title: ntim's workshop
templateClass: tmpl-workshop
stylesheet: /assets/css/workshop.css
eleventyNavigation:
  key: Workshop
  order: 2
---

<h1>Hacks</h1>
<iframe id="iframe" src="https://nt1m.github.io/react-jsfiddle-app#dark-theme"></iframe>

<h1>Programming</h1>
<div class="tile-container">
  <a href="https://github.com/nt1m" target="_blank" class="tile">
    <span class="tile-title">Github profile</span>
    <span class="tile-description">Open source stuff</span>
  </a>

  <a href="http://ntim.altervista.org/mosaist" target="_blank" class="tile">
    <span class="tile-title">Mosaist</span>
    <span class="tile-description">2015 · Mosaic maker</span>
  </a>

  <a href="http://altaica.altervista.org" target="_blank" class="tile">
    <span class="tile-title">Altaica</span>
    <span class="tile-description">2013 · Online Desktop</span>
  </a>

  <a href="http://smartsearch.altervista.org" target="_blank" class="tile">
    <span class="tile-title">SmartSearch</span>
    <span class="tile-description">2010 · Multi search engine</span>
  </a>
</div>

<h1>Design</h1>
<div class="tile-container">
  <a href="http://ntim.altervista.org/design/WindowsExplorer" target="_blank" class="tile">
    <span class="tile-title">Windows Explorer concept</span>
  </a>

  <a href="https://bug1241904.bmoattachments.org/attachment.cgi?id=9030116" target="_blank" class="tile">
    <span class="tile-title">Bugzilla icon</span>
  </a>

  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1427509" target="_blank" class="tile">
    <span class="tile-title">Thunderbird icons</span>
  </a>
</div>
